<footer class="footer-cont">
	<div class="container">
		<div class="col-md-8 col-sm-8">
			<p>© 2021 computerWebShop.com. ALL RIGHTS RESERVED.  <a href="@Url.Action("PrivacyPolicy","home")"> Kundservice  </a>| <a href="@Url.Action("TermConditions","home")"> Kontakt info </a>  </p>
		</div>

		<div class="col-md-4 col-sm-4 text-right">
			<a href="#"><i class="fa fa-facebook-square fa-2" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-google-plus-square fa-2" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-twitter-square fa-2" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-youtube fa-2" aria-hidden="true"></i></a>
		</div>
	</div>
</footer>